---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
import TagsPreview from "../../components/TagsPreview.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const noOfPosts = posts.length;
const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

const { page } = Astro.props;
---

<Layout>
  <main>
    <section>
      <h1 class="title mb-6">
        Posts<span class="text-gray-500">
          ({noOfPosts})
        </span>
      </h1>
      <div class="md:flex justify-between">
        <div>
          <ul>
            {
              posts.map((post) => (
                <li>
                  <BlogPostPreview post={post} />
                </li>
              ))
            }
          </ul>
        </div>
        <TagsPreview uniqueTags={uniqueTags} />
      </div>
    </section>
  </main>
</Layout>
