@import "tailwindcss";

body {
  background-color: rgb(29, 33, 44);
  color: rgb(201, 201, 201);
  font-size: 14px;
  font-weight: 600;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}

.link {
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(201, 201, 201);
}

.link:hover {
  text-decoration: none;
}

.link:hover::after {
  background-color: rgb(245, 109, 109);
}
