body {
  background-color: rgb(29, 33, 44);
  color: rgb(201, 201, 201);
  font-size: 14px;
  font-weight: 600;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}

.link {
  text-decoration: underline; /* Native underline */
  text-decoration-color: rgb(201, 201, 201); /* Custom color */
  text-underline-offset: 4px;
}

.link:hover {
  text-decoration-color: rgb(245, 109, 109); /* Change color on hover */
}

.view-all {
  font-size: 0.75rem;
  color: rgb(106, 114, 130);
}
.view-all:hover {
  color: rgb(245, 109, 109);
}

@import "tailwindcss";
