---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <p>
    Welcome to my website, I am Aloysius! I post blogs about Computer Science /
    Software Engineering related topics.
  </p>
</Layout>
