---
import SocialLinks from "./SocialLinks.astro";
import { menuLinks } from "../consts";
import HeaderLink from "./HeaderLink.astro";

const today = new Date();
---

<footer
  class="flex flex-col items-center justify-center mt-auto pt-20 pb-10 gap-y-4"
>
  <p>&copy; {today.getFullYear()} Aloysius Tan. All rights reserved.</p>
  <SocialLinks />
  <nav class="footer-nav divide-x-2 divide-gray-500 text-gray-500 text-xs">
    {
      menuLinks.map((link) => (
        <HeaderLink
          href={link.path}
          class="px-4 sm:hover:underline"
          rel="prefetch"
        >
          {link.title}
        </HeaderLink>
      ))
    }
  </nav>
</footer>

<style>
  .footer-nav {
    text-underline-offset: 3px;
  }
</style>
