---
import FormattedDate from "./FormattedDate.astro";
const { post } = Astro.props;
---

<p class="min-w-[120px] text-gray-500">
  <FormattedDate date={post.data.pubDate} />
</p>
<a href={`/blog/${post.id}/`} class="link">{post.data.title}</a>
