---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "./src/styles/global.css";
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="mx-auto flex h-full max-w-3xl flex-col px-8 pt-16 font-mono antialiased scroll-smooth"
  >
    <Header />
    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
